@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --morado: #8B5CF6;
    /* (morado pastel, elegante y amigable) */
    --grisClaro: #F3F4F6;
    /* (gris muy claro, casi blanco) */
    --grisOscuro: #374151;
    /* (gris oscuro, suave para leer) */
    --rosaPastel: #F472B6;
    /* (rosado pastel sutil para detalles) */
    --blanco: #FFFFFF;
    /* (blanco puro para máxima limpieza) */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Sans serif;
}

.link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #8b5cf6;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.link:active::after,
.link:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#home {
    background-image: url("../img/Wallpaper.jpg");
}

.header2 {
    color: var(--grisOscuro);
}

.animate-slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;

    img {
        width: 100%;
        flex-shrink: 0;
        object-fit: cover;
    }


}

.active {
    background-color: rgb(93, 11, 138) !important;
}

.opinion {
    transition: 0.3s ease-in-out;
}

.opinion:hover {
    transform: scale(1.05);
    box-shadow: 20px 20px 20px -15px rgb(0, 0, 0, .5);

}

